<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vedom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Vedom.Properties.Settings>
            <setting name="semsestSave" serializeAs="String">
                <value />
            </setting>
            <setting name="group" serializeAs="String">
                <value />
            </setting>
            <setting name="kurs" serializeAs="String">
                <value />
            </setting>
            <setting name="fak" serializeAs="String">
                <value />
            </setting>
            <setting name="years" serializeAs="String">
                <value />
            </setting>
            <setting name="dop1" serializeAs="String">
                <value>0</value>
            </setting>
        </Vedom.Properties.Settings>
    </userSettings>
</configuration>